<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.bedroid.medreminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
    <uses-sdk android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="com.sonyericsson.extras.liveware.aef.EXTENSION_PERMISSION" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name" >
        <activity
            android:name=".MedReminderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".MedsActivity"
            android:label="@string/labelMedsActivity" >
        </activity>
        <activity
            android:name=".MedsActivity$DetailsActivity"
            android:label="@string/labelMedsActivity" >
        </activity>
        <activity
            android:name=".RemindersActivity"
            android:label="@string/labelRemindersActivity" >
        </activity>
        <activity
            android:name=".RemindersActivity$DetailsActivity"
            android:label="@string/labelRemindersActivity" >
        </activity>
        <activity
            android:name=".EditPreferencesActivity"
            android:label="@string/prefActivityLabel" >
        </activity>
        <activity
            android:name=".SmartPreferencesActivity"
            android:label="@string/labelSmartPreferencesActivity" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/labelNotificationActivity" >
        </activity>
        <activity
            android:name=".AlertWithTtsActivity"
            android:label="@string/labelAlertWithTtsActivity" >
        </activity>
        <activity
            android:name=".AlertTestLauncher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >

        </activity>

        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
		</activity>

        <provider
            android:name=".content.MedicineContentProvider"
            android:authorities="be.bedroid.medreminder.contentprovider.medicines" >
        </provider>
        
        <provider
            android:name=".content.ReminderContentProvider"
            android:authorities="be.bedroid.medreminder.contentprovider.reminders" >
        </provider>

    </application>

</manifest>